*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/imagenes/castillo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

.menuPrincipal {
    background-color: black;
    font-family: 'Newsreader', serif;
    font-size: 1.05rem;
}

.menuPrincipal a {
    color: #99b2dd;
}

.menuPrincipal a:hover{
    color: #061066;
}

.botonRegistro {
    background-color: #061066;
    color: white;
    font-size: 0.9rem;
    margin-left: 15rem;
    padding: 0.5rem;
    border-color: #99b2dd;
    border-radius: 0.4rem;
}

.iconoCarro {
    color: #99b2dd;
}

.fondo {
    background-image: url(/imagenes/castillo.jpg);
}

.modals{
    background-color: black;
    color: #99b2dd;
}

.boton {
    border-radius: 0.5rem;
    border: 0.2rem solid #99b2dd;
    background-color: black;
    color: #99b2dd;
    font-family: 'Newsreader', serif;
}

.boton:hover{
    background-color: #061066;
    color: white;
}

.sweetWelcome {
    background-color: black;
}

.swal-text {
    color: #99b2dd;
    font-family: 'Newsreader', serif;
}

h1 {
    font-family: 'Newsreader', serif;
    font-size: 4rem;
    color: black;
    margin-top: 12rem;
}

.aboutUs{
    margin-top: 25rem;
    border: 0.2rem solid #99b2dd;
    border-radius: 0.6rem;
    padding: 2rem;
}

.tituloAbout {
    font-family: 'Newsreader', serif;
    font-size: 2rem;
    color: #061066;
}

.titulos {
    font-family: 'Newsreader', serif;
    font-size: 2rem;
    margin-top: 10rem;
    color: #061066;
}

.parrafos {
    font-family: 'Newsreader', serif;
    font-size: 1.2rem;
    margin: 2rem auto;
    text-align: justify;
    color: #99b2dd;
    font-weight: 200;
}

.botonGris {
    font-family: 'Newsreader', serif;
    font-weight: bolder;
    background-color: grey;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
}

.cesto {
    padding: 0.2rem;
    width: 20%;
}

.imagenesPersj {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.labelPrueba {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.botonPrueba {
    padding: 0.5rem;
    width: 50%;
}

.huir{
    margin-top: 1rem;
}

.suscripciones {
    display: grid;
    grid-template-columns: repeat(4, 40fr);
}

label {
    font-family: 'Newsreader', serif;
}

.botonAgregar {
    border-radius: 0.5rem;
    border: 0.2rem solid grey;
    background-color: black;
    color: white;
    font-family: 'Newsreader', serif;
    padding: 0.4rem;
}


.botonReset {
    border-radius: 0.5rem;
    border: 0.2rem solid grey;
    background-color: black;
    color: white;
    font-family: 'Newsreader', serif;
}

footer {
    margin-top: 6rem;
    background-color: #99b2dd;
}

.menuAlPie {
    font-family: 'Newsreader', serif;
    list-style: none;
    padding: 1rem;
}

.menuAlPie li a {
    text-decoration: none;
    color: black;
}